body {
  font-family: "Roboto Mono";
  color: white;
}

h1 {
  font-weight: bolder;
}

.Wrapper {
  text-align: center;
  background-color: #363636;
  padding: 2%;
}

#jumbotron_header {
  background-color: #7510F7;
  color: white;
  padding: 2%;
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
  color: black;
}

#profile_pic {
  width: 20%;
  height: 20%;
}

#eye_project_image {
  width: 80%;
  height: 100%;
}

#dnd_project_button {
  width: 30%;
  height: 90%;
}

#climate_project_button_img {
  height: 100%;
}

#aced_project_button_img {
  height: 100%;
}

#quote_project_button_img {
  height: 100%;
}

.project-modal-content {
  color: black;
}

.project-button {
  background-color: #363636;
  font-weight: bold;
  height: 10vmax;
}

#project_footer {
  font-size: larger;
  font-weight: bolder;
  color: yellow;
}

.card-group {
  margin: 1%;
}

.text-center {
  background-color: #7510F7;
  margin: 1%;
}

#links_card {
  display: inline-block;
}

.carousel-indicators {
  position: relative;
  top: 0;
}

.carousel-control-prev {
  display: inline;
  position: relative;
  right: 1%;
}

.carousel-control-next {
  display: inline;
  position: relative;
  left: 1%;
}

.testimonial-image {
  height: 10%;
  width: 10%;
}

.link-icon {
  width: 25%;
  height: 25%;
  padding: 2%;
}

#footer_link {
  color: lightblue;
}

.skill-wrapper {
  overflow: auto;
}

.skill-image {
  width: 10%;
  height: 40%;
  padding: 1%;
}

.nodejs-skill-image {
  width: 20%;
  height: 40%;
}
